@import 'carousel.css';

* {
  margin: 0;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, sans-serif !important;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#nav {
  width: 100%;

}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
.navbar-nav {
  margin: 1px 1px;
}

/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
	  font-weight:700;
    text-transform:uppercase;
    border-width:0;
}

.navbar-custom  .navbar-nav>li>a {
	color: #ddd;
}

.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
	background-color: #000;
}

.navbar-custom .dropdown-menu{
	right:0;
}

.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in {
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}



div.featured h3 {
  padding-left:9%;
  font-size: 3.5em;
}

div#content {
  border: 1px solid #000000;
  width: 100vw;
  font-size: 1.5em;
}

a.postTitle {
  text-decoration: none;
  color: black;
  font-size: 1.5em;

}

a.postTitle:hover {
  text-decoration: none;
  color: #5A5766;
}

span.date {
  font-size: 1em;
}

#homecontent {
  margin: 20px 0 50px 0;

}

#homecontent .wp {
   border: 1px solid black;
   text-align: left;
   margin-bottom: 1px;
   width: 80%;
   height: 175px;
   padding: 0 20px 0 20px;
   margin-left: 9%;
}

div#article {
  color: black;
  border: 1px solid #000000;
  padding-top: 7%;
  width: 80%;
  margin-left: 10%;
  padding-left: 10px;
  font-size: 1.2em;
  margin-bottom: 10%;
  float: left;
  clear: both;
}

div.wp p {
  font-size: 1.3em;

}

div.artTitle {
  font-size: 2em;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 15px;
}

.s0 {
  padding-bottom: 15%;
}

#map {
  width: 80%;
  height: 500px;
	margin-left: 10%;
	padding: 15px;
}

.scroll-top {
   position:fixed;
   bottom:4px;
   right:4%;
   z-index:100;
   background: #FF9F1C;
   font-size:24px;
   border-radius: 3px;
}

.scroll-top a:link,.scroll-top a:visited {
  color:#222;
  /*background-color: #88D498;*/
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

#section0, #section1, #section2 {
  padding-top: 5% !important;
  padding-bottom: 10% !important;
}
